<ion-content mode="ios">
  <!-- Score and Question Description -->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="1.5">
        <ion-buttons>
          <ion-back-button class="text-title" mode="md" defaultHref="/home/tabs/games"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="9">
        <div class="ion-text-center ion-padding text-score">
          <ion-label class="text-title">SKOR: {{score}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-slides #quizSlider
                (ionSlidesDidLoad)="getIndexSlideChanged()"
                (ionSlideWillChange)="getIndexSlideChanged(); enabledChoices(); hideAnswer()">
    <ion-slide *ngFor="let quiz of quizes">
      <div class="ion-text-center">
        <ion-label class="text-title">Pertanyaan {{index}}/10</ion-label>
        <ion-card>

          <ion-card-header>
           <img src="{{quiz.quiz_image}}">
          </ion-card-header>
          <ion-text class="text-question">
            {{quiz.question}}
          </ion-text>

          <!-- Insert choices here -->
          <ion-list>
            <ion-radio-group
                    name="quiz-batik"
                    (ionChange)="choiceSelected($event, quiz.question)"
                    required
                    ngModel
                    #quizCtrl = "ngModel">

              <ion-card class="card-choices" *ngIf="!show">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice1}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice1}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-correct"
                        *ngIf="show && quiz.choice1 === quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice1}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice1}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-false"
                        *ngIf="selectedChoice === quiz.choice1 && show && quiz.choice1 !== quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice1}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice1}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices"
                        *ngIf="show && quiz.choice1 !== quiz.answer  && selectedChoice !== quiz.choice1">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice1}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice1}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices" *ngIf="!show">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice2}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice2}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-correct"
                        *ngIf="show && quiz.choice2 === quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice2}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice2}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-false"
                        *ngIf="selectedChoice === quiz.choice2 && show && quiz.choice2 !== quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice2}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice2}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices"
                        *ngIf="show && quiz.choice2 !== quiz.answer && selectedChoice !== quiz.choice2">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice2}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice2}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices" *ngIf="!show">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice3}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice3}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-correct"
                        *ngIf="show && quiz.choice3 === quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice3}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice3}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-false"
                        *ngIf="selectedChoice === quiz.choice3 && show && quiz.choice3 !== quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice3}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice3}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices"
                        *ngIf="show && quiz.choice3 !== quiz.answer && selectedChoice !== quiz.choice3">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice3}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice3}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices" *ngIf="!show">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice4}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice4}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-correct"
                        *ngIf="show && quiz.choice4 === quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice4}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice4}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices-false"
                        *ngIf="selectedChoice === quiz.choice4 && show && quiz.choice4 !== quiz.answer">
                <ion-item lines="none">
                  <ion-label style="color: white;">{{quiz.choice4}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice4}}"></ion-radio>
                </ion-item>
              </ion-card>

              <ion-card class="card-choices"
                        *ngIf="show && quiz.choice4 !== quiz.answer && selectedChoice !== quiz.choice4">
                <ion-item lines="none">
                  <ion-label>{{quiz.choice4}}</ion-label>
                  <ion-radio slot="start"
                             value="{{quiz.choice4}}"
                             disabled="{{doDisabled}}"></ion-radio>
                </ion-item>
              </ion-card>

            </ion-radio-group>
          </ion-list>

          <ion-button type="submit"
                      shape="round"
                      (click)="getQuizResult(); disabledChoices(); showAnswer()"
                      [disabled]="!quizCtrl.valid"
                      disabled="{{doDisabled}}">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>

            <br><br>
            <ion-item *ngIf="selectedChoice === quiz.answer && show">
                JAWABAN KAMU BENAR! <br>
               {{quiz.answer_description}}

              <ion-button type="submit"
                          shape="round"
                          (click)="swipeNext()"
                          [disabled]="!quizCtrl.valid"> Berikutnya
                <ion-icon class="ion-padding-start" name="arrow-forward-circle-outline"></ion-icon>
              </ion-button>

            </ion-item>

            <ion-item *ngIf="selectedChoice !== quiz.answer && show">
                SALAH <br>
                JAWABAN: {{quiz.answer}} <br>
                {{quiz.answer_description}}

              <ion-button type="submit"
                          shape="round"
                          (click)="swipeNext()"
                          [disabled]="!quizCtrl.valid"> Berikutnya
                <ion-icon class="ion-padding-start" name="arrow-forward-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>

          <ion-button type="submit"
                      (click)="postScoreToFirebase()"
                      *ngIf="index === quizes.length"
                      href="/home/results">
            DONE
          </ion-button>
            <br><br>
        </ion-card>
      </div>
    </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
