<ion-header>
  <ion-toolbar>
    <ion-title>{{batikName}}</ion-title>
    <ion-buttons>
      <ion-back-button mode="md" defaultHref = "/home/list-batik"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="{{batikImage}}">
  <ion-card>
  <ion-item>{{batikName}}</ion-item>
  </ion-card>

  <ion-card>
  <ion-item>{{batikProvince}}</ion-item>
  </ion-card>

  <ion-card>
  <ion-item>{{batikDescription}}</ion-item>
  </ion-card>

  <ion-card>
  <ion-item>{{batikHistory}}</ion-item>
  </ion-card>

  <ion-card href="{{batikLocation}}">
    <img src="{{batikMaps}}">
  </ion-card>

</ion-content>
