<ion-content class="ion-padding">

  <!--  Title and Subtitle  -->
  <div class="ion-padding-start">
    <h1>JELAJAH <br> BATIK NUSANTARA</h1>
    <span>Jelajah ragam motif batik dari <br> berbagai Provinsi Indonesia</span>
  </div>

  <!--  Province  -->
  <div class="ion-padding-start ion-padding-top">
    <ion-text><b><br>Provinsi</b></ion-text>
    <!-- This for showing images in slider   -->
    <ion-slides [options]="sliderOpts">
      <!--  Do the loop for showing images based on image name in assets/images/provinces/{image_name} -->
      <!--  If you want to add another image in slider, -->
      <!--  simply insert image name in array `let img of ['borobudur','{insert_image_name}']`-->
      <!--  Name in array should be the same as image name in file assets/images/provinces -->
      <ion-slide *ngFor="let img of ['borobudur', 'kalimantan', 'sumatera', 'banten']">
        <img class="img-slider" src="assets/images/provinces/{{img}}.jpg">
      </ion-slide>
    </ion-slides>
    <br>
    <ion-button color="secondary">Lihat Provinsi lebih lanjut</ion-button>
  </div>

  <!--  Batik List -->
  <div class="ion-padding-start ion-padding-top">
    <br><br>
    <ion-text><b>Motif Batik</b></ion-text>
  </div>
    <ion-card *ngFor="let batik of batiks">
      <!-- Only shows 5 Batik in landing page -->
      <ion-item *ngIf="batik.batik_id <= 5" class="ion-no-padding" lines="none">
        <ion-thumbnail><img src="{{batik.batik_image}}"></ion-thumbnail>
          <div class="ion-nowrap ion-padding">
            <ion-label><b>{{batik.batik_name}}</b></ion-label>
            <ion-label>{{batik.province_name}}</ion-label>
          </div>
      </ion-item>
    </ion-card>
  <ion-button color="secondary">Lihat Batik lebih lanjut</ion-button>

  <!--  Navigation to Games -->
  <div class="ion-padding-start ion-padding-top">
    <br><br>
    <ion-text><b>Kuis Batik</b></ion-text>
  </div>
  <ion-card>
    <img src="assets/images/img-card-quiz.png">
  </ion-card>
  <ion-button color="secondary" href="/home/tabs/games">Mainkan sekarang!</ion-button>
</ion-content>

