<ion-content class="ion-padding">

  <!--  Title and Subtitle  -->
  <div class="ion-padding-start">
    <h1>JELAJAH <br> BATIK NUSANTARA</h1>
    <span>Jelajah ragam motif batik dari <br> berbagai Provinsi Indonesia</span>
  </div>

  <!--  Province  -->
  <div class="ion-padding-start ion-padding-top" >
    <ion-text><b><br>Provinsi</b></ion-text>
    <!-- This for showing images in slider   -->
    <ion-slides [options]="sliderOpts">
      <!--  Do the loop for showing images based on image in database -->
      <ion-slide *ngFor="let img of provinces">
        <ion-item mode="md" lines="none" [routerLink]="['/home/list-province/' + img.province_id]">
          <img class="img-slider" src="{{img.province_thumbnail}}">
        </ion-item>
      </ion-slide>
    </ion-slides>
    <br>
    <ion-button color="secondary" href="/home/list-province">Lihat Provinsi lebih lanjut</ion-button>
  </div>

  <!--  Batik List -->
  <div class="ion-padding-start ion-padding-top">
    <br><br>
    <ion-text><b>Motif Batik</b></ion-text>
  </div>
  <div *ngFor="let batik of batiks">
    <!-- Only shows 5 Batik in landing page -->
    <ion-card [routerLink]="['/home/list-batik/', batik.batik_id]" *ngIf="batik.batik_id <= 5">
        <ion-item class="ion-no-padding" lines="none">
          <ion-thumbnail><img src="{{batik.batik_image}}"></ion-thumbnail>
          <div class="ion-nowrap ion-padding">
            <ion-label><b>{{batik.batik_name}}</b></ion-label>
            <ion-label>{{batik.province_name}}</ion-label>
          </div>
        </ion-item>
    </ion-card>
  </div>
  <ion-button href ="/home/list-batik" color="secondary">Lihat Batik lebih lanjut</ion-button>

  <!--  Navigation to Games -->
  <div class="ion-padding-start ion-padding-top">
    <br><br>
    <ion-text><b>Kuis Batik</b></ion-text>
  </div>
  <ion-card>
    <img src="assets/images/img-card-quiz.png">
  </ion-card>
  <ion-button color="secondary" href="/home/tabs/games">Mainkan sekarang!</ion-button>
</ion-content>

