.header {
  width: 100%;
}

//ion-content {
//
//  background-image : "https://firebasestorage.googleapis.com/v0/b/baticca-755ef.appspot.com/o/Logo%2FVirtual%20Background%20Zoom%20-%20Peserta.png?alt=media&token=0b5f466a-7279-45de-9ef6-0a80c93dd065";
//}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
//.main-image, . user-image{
//  width: 200px;
//  height: 200px;
//}

.center {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;

}

.login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:280px;
  height: 35px;
  border-radius: 20px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

span {
  font-size: 17px;
}

.edit-button{
  width: 30px;
  height:30px;
}

.field-user {
  height: 40px;
  border-radius: 20px;
}

//ion-slide:first-child {
//  margin-left: -10px;
//}

//ion-slides {
//  padding-top: 12px;
//}
//
//ion-slides:last-child{
//  margin-right: -50px;
//}
