img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:280px;
  height: 35px;
  border-radius: 20px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

span {
  font-size: 17px;
}

.edit-button{
  width: 30px;
  height:30px;
}

.field-user {
  width: 100%;
  height: 45px;
  border-radius: 20px;
}

