<ion-header>
    <ion-toolbar *ngIf="authService.isLoggedIn === true">
        <div class="ion-padding-start">
            <b>PROFIL SAYA</b>
        </div>
        <ion-buttons slot="end">
            <ion-button size="small" type="submit" (click)="authService.SignOut()">Keluar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <!-- USER LOGGED IN -->
  <!-- isLoggedIn = true, means user has been logged in -->
  <!-- If user already logged in, display this -->
  <ion-item *ngIf="authService.isLoggedIn === true" lines="none">
  <div>
      <ion-grid>
          <ion-row class="ion-no-padding" style="background: #DDA15E; width: 1920px; height: 170px;">
              <ion-col>
                  <ion-avatar style="width:150px; height:150px;" class="user-image ion-padding">
                      <ion-img src="{{photoProfile}}"></ion-img>
                  </ion-avatar>
                  <ion-img class="edit-button ion-align-items-end"
                           src="https://firebasestorage.googleapis.com/v0/b/baticca-755ef.appspot.com/o/Profile%2Fbtn-edit%20(1).png?alt=media&token=730b13bf-c470-4fc1-949f-2bee0da037c7"
                           routerLink="/home/edit-profile"
                           style="width: 20px; margin-top: -50px; margin-left: 120px;"></ion-img>
              </ion-col>
              <ion-col>
                  <div class="ion-nowrap ion-padding-top" style="margin-left: -780px;">
                      <ion-text>Hi,<br></ion-text>
                      <ion-text style="font-size: 20px;"><b>{{usernames}}</b></ion-text>
                      <br>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
<!--        <div style="background: #DDA15E; background-size: 1920px 1080px">-->
<!--            <div id="profile-info" *ngIf="usernames">-->
<!--                <ion-avatar style="width:150px; height:150px;" class="user-image ion-padding">-->
<!--                    <ion-img src="{{photoProfile}}"></ion-img>-->
<!--                </ion-avatar>-->
<!--                <div class="ion-padding-start ion-nowrap">-->
<!--                    <br><br><ion-text><b>Hi,<br></b></ion-text>-->
<!--                    <ion-label  style="font-size: 25px"><b>{{usernames}}</b></ion-label>-->
<!--                    <ion-img class="edit-button" src="https://firebasestorage.googleapis.com/v0/b/baticca-755ef.appspot.com/o/Profile%2Fbtn-edit%20(1).png?alt=media&token=730b13bf-c470-4fc1-949f-2bee0da037c7" routerLink="/home/edit-profile" ></ion-img>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

      <br>
      <ion-grid>
          <ion-row>
              <ion-label><b>Nama</b></ion-label>
              <ion-card class="field-user">
                  <ion-label style="font-size: 16px;" class="ion-padding-start ion-margin-top">{{ names }}</ion-label>
              </ion-card>
          </ion-row>
          <ion-row>
              <ion-text><b>Username</b></ion-text>
              <ion-card  class="field-user">
                  <ion-label style="font-size: 16px;" class="ion-padding-start ion-margin-top">{{ usernames }}</ion-label>
              </ion-card>
          </ion-row>
          <ion-row>
              <ion-text><b>Email</b></ion-text>
              <ion-card  class="field-user">
                  <ion-label style="font-size: 16px;" class="ion-padding-start ion-margin-top">{{userEmail}}</ion-label>
              </ion-card>
          </ion-row>
          <ion-row>
              <ion-text><b>Poin Tertinggi</b></ion-text>
              <ion-card class="field-user">
                  <ion-label style="font-size: 16px;" class="ion-padding-start ion-margin-top">{{totalPoints}}</ion-label>
              </ion-card>
          </ion-row>
      </ion-grid>
  </div>

  </ion-item>



  <!-- USER NOT LOGGED IN -->
  <!-- isLoggedIn = false, means user hasn't logged in yet -->
  <!-- If user hasn't logged in yet, display this -->
  <ion-item lines="none" *ngIf="authService.isLoggedIn === false" class="center-container">
      <ion-grid>
          <ion-row>
              <img src="https://firebasestorage.googleapis.com/v0/b/baticca-755ef.appspot.com/o/Logo%2F1606851067042.png?alt=media&token=fdfb595f-df5a-475d-8482-99d0d776fb6b">
          </ion-row>
          <ion-row>
              <h1 class="center ion-text-center">
                  <b>BERGABUNG DI KOMUNITAS</b>
              </h1>
          </ion-row>
          <ion-row>
              <p class="center ion-text-center">
                  Mengenal aneka macam batik <br>
                  berbagai daerah di Indonesia <br>
                  dan kalahkan mini games <br>
                  Mainkan sekarang! <br><br>
              </p>
          </ion-row>
          <ion-row>
              <ion-button class="login-button"
                          color="secondary"
                          shape="round"
                          href="/home/login">Masuk</ion-button>
          </ion-row>
          <ion-row>
              <p class="center">
                  <ion-text>Belum punya akun? </ion-text>
                  <a [href]="['/home/register']">Buat akun</a>
              </p>
          </ion-row>
      </ion-grid>
<!--      <div class = "ion-nowrap">-->
<!--        <p><br><br></p>-->
<!--          <div>-->
<!--              <img src="https://firebasestorage.googleapis.com/v0/b/baticca-755ef.appspot.com/o/Logo%2F1606851067042.png?alt=media&token=fdfb595f-df5a-475d-8482-99d0d776fb6b">-->
<!--      </div>-->

<!--          <div class="ion-padding-start ion-padding-top">-->
<!--              <h1 class="ion-text-center">-->
<!--                  <b>BERGABUNG DI KOMUNITAS</b>-->
<!--              </h1>-->
<!--              <p class="ion-text-center">-->
<!--                  Mengenal aneka macam batik <br>-->
<!--                  berbagai daerah di Indonesia <br>-->
<!--                  dan kalahkan mini games <br>-->
<!--                  Mainkan sekarang! <br><br>-->
<!--              </p>-->
<!--          </div>-->

<!--    <ion-button class="login-button" color="secondary" href="/home/login">Masuk</ion-button>-->

<!--          <ion-row>-->
<!--              <ion-col>-->
<!--                  <p class="ion-text-center">-->
<!--                  <ion-text>Belum punya akun? </ion-text>-->
<!--                  <a [href]="['/home/register']">Buat akun</a>-->
<!--                  </p>-->
<!--              </ion-col>-->
<!--          </ion-row>-->
<!--      </div>-->
  </ion-item>


</ion-content>
