<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- USER LOGGED IN -->
  <!-- isLoggedIn = true, means user has been logged in -->
  <!-- If user already logged in, display this -->


  <ion-item *ngIf="authService.isLoggedIn === true">
  <div class = "ion-nowrap">

      <div id="profile-info" *ngIf="usernames">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="user-image">
                        <ion-img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
                    </ion-col>
                    <ion-col size="8">
                        <p>{{ usernames }}</p>
                        <ion-button shape="round" color="primary" routerLink="/home/edit-profile">Edit Profile</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
      </div>

   <ion-grid>
     <ion-row style="background-color: #e0ac08">
    <ion-card class="header">
      <ion-card-header>
        <ion-label>{{names}}</ion-label>
      </ion-card-header>
    </ion-card>
     </ion-row>
   </ion-grid>


    <ion-label>{{names}}</ion-label>
    <ion-label>{{userEmail}}</ion-label>
      <ion-label>{{usernames}}</ion-label>
    <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>

  </div>
  </ion-item>



  <!-- USER NOT LOGGED IN -->
  <!-- isLoggedIn = false, means user hasn't logged in yet -->
  <!-- If user hasn't logged in yet, display this -->
  <ion-item *ngIf="authService.isLoggedIn === false">
    <ion-button type="submit" href="/home/login">Masuk Sekarang</ion-button>
  </ion-item>


</ion-content>
